<br><br><br>
  <div class="sidebar">
       <h4 align="center">Admin List</h4><hr>
       <a routerLink="/admin/adminLeave/applicableLeave">Applicable List</a>
       <a routerLink="/admin/adminLeave/adminleavehistory">Admin History</a>
    </div> <br><br>
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-primary">
          <div class="panel-heading text-center">Admin  Leave  list</div>
               <div class="panel-body">
                   <div class="col-md-4">
                       <input type="text" class="form-control" placeholder="search..." [(ngModel)]="query">
                   </div>
               </div>
  
   <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
       <thead>
           <tr>
              <th></th>
              <th>Employee Name</th>
              <th>Leave Type</th>
              <th>Reason</th>
              <th>Start Date</th>
              <th>No_Of_Days</th>
              <th>status</th>
             
          </tr >
          <tr *ngFor="let item of  adminhistory|search1:query ">
               <td>
                <a href="/admin/adminLeave/adminleavehistory/adminhistorydetails/{{item.id}}/">  <span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
              </td>
         
               <td>{{item.employee.first_name}}{{item.employee.last_name}}</td>
               <td>{{item.leave_type}}</td>
               <td>{{item.reason}}</td>
               <td>{{item.start_date}}</td>
               <td>{{item.no_of_days}}</td>
               <td>{{item.status}}</td>
     
           </tr>
          
      </thead>
  </table> <br>
     
  </div>
  </div>
