<br><hr>
   <div class="sidebar">
       <h4 align="center">Employee Leave List</h4><hr>
       <a routerLink="/employee/employeeLeave/newleaverequest">New Leave Request</a>
       <a routerLink="/employee/employeeLeave/employeehistory">Employee History</a>
  </div><br>
  <form>
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">Employee Details</div>
           <div class="panel-body">
              <div class="form-group">
                    <label for="Date" class="control-label">Leave Type:</label><br><br>
                    <label for="leave" class="control-label">No Of Days:</label><br><br>
                    <label for="reason" class="control-label">Reason:</label><br>
                    <label for="Date" class="control-label">Start Date:</label><br><br>
                    <label for="status" class="control-label">Status:</label><br><br>
                </div>
          </div>
      </div>
</div>
</form>


